:root {
    --border-radius-size: 20px;
    --primary-color: #FF4646;
    --primary-color-white: #ffffff;
    --primary-color-dark: #181C29;
    --secondary-color: #4361FF;
    --secondary-color-white: #ECF3F8;

}
